/* file: gallery */

.poop {
  color: brown;
}

.chewch {
  position: relative;
}

.chewch2 {
  position: absolute;
  top: 50px;
}

//.twocol div {
// .form-item.js-form-item.form-wrapper.js-form-wrapper.panel.panel-default,
// .field--name-field-image {
//   @extend .col-md-6;
// }
//}
